.popular_slider{
    background-color: lightgray;
    padding: 1.5em 0.5em;

    h1{
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 15vw;
    height: 100%;
    padding: 0 1em;
        
        p{
            font-size: 25px;
            font-weight: bold;
            align-items: center;
            text-align:center ;
        }
        img{
            border-radius: 30px;
            border: 1em transparent;
        }
    }
.detail_cover{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding:2em;
    height:100vh;
    color: antiquewhite;
    .detail_right{
        width: 45vw;
        h1{font-size: 5em;}
        p{
            font-size: 1.5em;
            margin-top: 1em;
            text-align: justify;
            &:last-child{
                font-size: 1.5em;
            }
        }
        .button_bottom{
            height: 4em;
            float:right;
        }
    }
    img{
        max-height: 100%;
    }
    
}
.video_slider{
    border-top: 3px solid white;
    background-color: black;
    color: aliceblue;
    h1{
        margin: 1em 2em;
        font-size: 2em;
    }
    .YouTube{
        padding: 0 4em;
        max-height: 100%;
    }
}

