$pc:1920px;
$labtop:1024px;
$mobile:640px;

.mainpage_cover{
    background-color: black;
    color: rgb(255, 255, 255);
}
.search_cover{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6199522045146184) 40%, rgba(0,0,0,1) 100%), url('../pic/moives_header.png');
    height: 100vh;
    width: 100vw;
    h1{
        color: rgba(255, 255, 255, 0.6);
        font-size:10em;
    }
    .search_bar{
        width:80vw ;
        height: 6em;
        padding: 0 .5em;
        position: relative;
        
        input{
            height: 90%;
            width: 90%;
            padding: 0 20% 0 10%;
            background-color: rgba(245, 245, 245, 0.4);
            border: .5px solid transparent;
            border-radius:5em;
            font-size: 3em;
            color: rgb(255, 255, 255);
        }
    }
}

.detail_cover{
    position: relative;
    background-color: black;
    min-height: 100vh;
    padding:5em;
    color: whitesmoke;
    img{
        max-width: 100%;
        max-height: 100%;
        width: 30%;
    }
    .detail{
        width: 50%;
        padding: 1em;
        h1{font-size: 4em;}
        p{
            font-size: 1em;
            margin-top: 1em;
            text-align: justify;
            &:last-child{
                font-size: 1.5em;
            }
        }
        .button_bottom{
            height: 4em;
            float:right;
        }
    }
}

@media screen and (min-width:$labtop) and (max-width:$pc){
    
}

@media (min-width:$mobile) and (max-width:$labtop){
    .detail_cover{
        img{
            width: 40%;
        }
        .detail{
            h1{
                font-size: 3em;
            }
            p{
                font-size: .8em;
            }
        }
       
    }
    
}
@media (max-width:$mobile) {
    .search_cover{
        h1{
            font-size: 4em;
        }
    }
    .detail_cover{
        padding: 2em;
        flex-direction: column;
        img{
            width: 100%;
        }
        .detail{
            width: 100%;
            h1{
                font-size: 2.5em;
            }
            p{
                font-size: 1em;
            }
        }
    }
}


