$pc:1920px;
$labtop:1024px;
$mobile:640px;

.search_result{
    background-color: black;
    color: aliceblue;
    padding: 10em;
    min-height: 100vh;
    h1{
        font-size: 3em;
        margin-bottom: 1em;
        p{
            font-size: 20px;
        }
    }
    .search_result_cover{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:5em;
        .result_card{
            position: relative;
            img{
                width: 100%;
                }
            .result_content{
                
                p{
                    margin-bottom: 1em;
                    font-size: 15px;
                }
            }
            
        }
    }
    .bottom_button_cover{
        min-height: 4em;
        width: 100%;
    }
}

@media screen and (min-width:$labtop){
    
}

@media (min-width:$mobile) and (max-width:$labtop){
    .search_result{
        padding: 5em;
        h1{
            font-size: 2em;
            p{
                font-size: 15px;
            }
        }
        .search_result_cover{
            grid-template-columns: repeat(2,1fr);
            .result_card{
                position: relative;
                .result_content{
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width:$mobile) {
    .search_result{
        padding: 3em;
        h1{
            text-align: center;
            font-size: 3em;
            p{
                font-size: 20x;
                text-align: center;
            }
        }
        .search_result_cover{
            grid-template-columns: repeat(1,1fr);
            .result_card{
                position: relative;
                .result_content{
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}